*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.arroz{
    width: 1280px;
}
header{
    background-color: #FFFFFF;
}
h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-top: 118px;
}
body{
    text-align: center;
    font-size: 32px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.295em;
    text-align: center;
    margin-top: 32px;
}
.container{
    display: flex;
    margin-top: 74px;

}
.nav-list{
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 22px;
    gap: 54px;
    margin: auto;
    width: 580px;
    
}
.nav-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #000000;
}
main{
    margin-top: 119px;
    background-color: #F5F5F5;
    display: grid;
    grid-template-areas: 
    "a a b"
    "c d b";
    gap: 13px;
    padding: 18px 13px 25px 13px;

}
h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.find-me{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
h3{
    margin-top: 111px;
}
.feijao{
    display: flex;
    gap: 30px;
    margin: auto;
}
.feijao > img{
    width: 40px;
}
footer{
    background-color: white;
    display: flex;
    padding-bottom: 57px;
}